.container {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 25px;
  user-select: none;
  width: 40px;
  height: 40px;
  margin-top: 25px;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.word-overlay {
  user-select: none;
  -webkit-user-select: none;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  white-space: pre-wrap;
  word-wrap: break-word;
  text-align: center;
  cursor: text;
  font-stretch: expanded;
  z-index: 999999;
  user-select: text;
    -webkit-user-select: text;
    -moz-user-select: text;
    pointer-events: auto;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.3em;
  width: 2.6em;
  background-color: #222222;
  border-radius: 50px;
  transition: all 0.4s ease;
  --spread: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.checkmark:before {
  content: "";
  position: absolute;
  height: 1em;
  width: 1em;
  border-radius: 50%;
  background-color: #a64dff;
  transition: all 0.4s ease;
  left: 0.15em;
}

.container input:checked ~ .checkmark:before {
  left: calc(100% - 1.15em);
  background-color: white;
}

.container input:checked ~ .checkmark {
  background-color: #222222;
  border: 1px solid #a64dff;
  box-shadow: 
    0 0 15px 2px rgba(166, 77, 255, 0.7),
    0 0 30px 5px rgba(166, 77, 255, 0.4),
    inset 0 0 5px rgba(166, 77, 255, 0.5);
  transition: all 0.4s ease;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 0.45em;
  top: 0.25em;
  width: 0.25em;
  height: 0.5em;
  border: solid #f0f0f0;
  border-width: 0 0.15em 0.15em 0;
  transform: rotate(45deg);
}